<?xml version="1.0" encoding="utf-8"?><configuration><startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><appSettings><add key="DatabaseName" value="AshkanJobCenterDB"/><add key="Language" value="fa"/></appSettings></configuration>